@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap');

html, body { 
    margin: 0;
    padding: 0; 
    min-height: 100%; 
    min-width: 100%;
} 

.body{
    width: 100%;
    min-height: 100vh;
    text-align: center;
    background-image: url("../../Images/pokecenter.png");
    background-repeat:no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    display:inline-block;
    
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.hline{
    height: 1px;
    background-color: rgba(0, 0, 0, 0.1);
    border: none;
}

.resultsContainer{
}

.nurseJoy{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 209px;
}

.resultGrid{
    font-family: 'Source Sans Pro', sans-serif;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    justify-items: center;
}

.result{
    border: 2px solid black;    
    border-radius: 12px;
    background-color: rgba(248, 128, 112, 0.85);
    width: 60%;
}

.image{
    margin-top: 1em;
    max-height: 10em;
    border: 5px inset #e8e8a8;
    border-radius: 3px;
}

#header {
    font-family: 'Source Sans Pro', sans-serif;
    padding: 0.4em;
    border-radius: 10px;
    border: 2px solid black;
    margin: auto;
    margin-top: 0.5em;
    width:20%;
    background-color: rgba(232, 232, 168, .80);
}

#loadBtn{
    width: 8em;
    margin-bottom: 0.5em;
    font-family: 'Source Sans Pro', sans-serif;
    border-radius: 7px;

}

#loadBtn:hover {
    background-color: green;
    color: white;
}

#noChar{
    font-family: 'Source Sans Pro', sans-serif;
    margin: auto;
    border: 2px solid black;    
    border-radius: 12px;
    background-color: rgba(248, 128, 112, 0.85);
    width: 10%;
    padding: 0.5em;
}

.loader{
    border: 8px solid #f3f3f3;
    border-top: 8px solid #000000; 
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@media (max-width: 430px){

    .nurseJoy{
        width: 150px;
    }

    #header{
        min-width: 55%;
        font-size: 1em;
    }

    #noChar{
        width: 40%;
    }
}