@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap');

html, body { 
    margin: 0;
    padding: 0; 
    min-height: 100%; 
    min-width: 100%;
} 

.successbody{
    width: 100vw;
    height: 100vh;
    text-align: center;
    background-image: url("../../Images/drumisland.png");
    background-repeat:no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    display:inline-block;
    
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.successContainer{
    margin-top: 2em;
    margin-bottom: 1em;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
}

.chopper{
    margin-top: 2em;
    width: 30%;
}

#thanks{
    border-radius: 20px;
    border: 2px solid black;
    padding: 0.5em;
    margin: auto;
    width: 45%;
    background-color: #e76179;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.5em;
}

#gohomeprompt{
  font-style: italic;  
}

#homeBtn{
    margin-top: 0.5em;
    padding: 0.5em;
    font-family: 'Source Sans Pro', sans-serif;
    border: 1px solid black;
    border-radius: 25px;
}

#homeBtn:hover {
    background-color: #efc535;
    border: 1px solid black;
}

@media(max-width: 430px) {

    .successContainer{
       margin-top: 5em;
    }

    .chopper{
        width: 85%;
    }

    #thanks{
        width: 70%;
        font-size: 1.4em;
    }

    #gohomeprompt{
        font-size: 0.9em;
    }

    #homeBtn{
        font-size: 1em;
    }
}

@media(max-width: 400px) {
    .successContainer{
        margin-top: 8em;
     }
}