@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap');

html, body { 
    margin: 0;
    padding: 0; 
    height: 100%; 
    width: 100%;
} 

.transfusionbody{
    width: 100vw;
    height: 100vh;
    text-align: center;
    background-image: url("../../Images/recoverygirloffice.png");
    background-repeat:no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-repeat:no-repeat;
    background-size: cover;
    display:inline-block;
    
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.transfusionContainer{
    margin-top: 13em;
    display:flex;
    flex-direction: row;
    font-family: 'Source Sans Pro', sans-serif;
    justify-content: center;
    align-items: center;
}

.donorInfo{
    border: 2px solid black;
    background-color: rgba(161, 180, 211, 0.85);    
    border-radius: 12px;
    width: 15em;
    padding: 0.5em;
}

.recipientInfo{
    border: 2px solid black;  
    background-color: rgba(239, 246, 253, 0.85);      
    border-radius: 12px;
    width: 15em;
    padding: 0.5em;
}

.startandbar{
    display:flex;
    flex-direction: column;  
    width: 10em;  
    align-items: center;
}

.test{
    margin: 0em;
}

.role{
    margin-bottom: 1em;
    font-style: italic;
}

.recoverygirl{
    position: fixed;
    right: 0;
    bottom: 0;
    width: 209px;
}


#startBtn{
    font-family: 'Source Sans Pro', sans-serif;
    border: 1px solid black;
    border-radius: 5px;
}

#startBtn:hover {
    background-color: #689fc3;
    border: 1px solid black;
    color: rgb(255, 255, 255);
}

#progressbar{
    margin-top: 0.5em;
}

@media (max-width: 430px) { 

    .transfusionbody{
        background-image: url("../../Images/recoverygirlofficeV.png");
    }

    .recoverygirl{
        width: 100px;
        top: 20.65em;
        margin-left: 10em;
    }

    .transfusionContainer{
        margin-top: 2em;
        flex-direction: column;
    }

    .donorInfo{

        padding: 0.5em;
    }

    .startandbar{
        flex-direction: row;
        min-height: 10em;
    } 
    
    #progressbar{
        transform: rotate(90deg);
        margin-top: 0em;
        padding-top: 7em;
    }
}