@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap');

html, body { 
    margin: 0;
    padding: 0; 
    height: 100%; 
    width: 100%;
} 

.transfusionbody{
    width: 100vw;
    height: 100vh;
    text-align: center;
    background-color: antiquewhite;
    display:inline-block;
    background-repeat:repeat;
    
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.transfusionContainer{
    margin-top: 2em;
    display:flex;
    flex-direction: row;
    font-family: 'Source Sans Pro', sans-serif;
    justify-content: center;
    align-items: center;
}

.donor{
    border: 1px solid black;    
    border-radius: 12px;
    width: 12em;    
}

.recipient{
    border: 1px solid black;    
    border-radius: 12px;
    width: 12em;
}

.startandbar{
    /* border: 1px solid black;     */
    display:flex;
    flex-direction: column;  
    width: 10em;  
    align-items: center;
}

#transfusionHeader{
    margin-top: 3em;
    font-family: 'Source Sans Pro', sans-serif;
}

#startBtn{
    
}

#progressbar{
    /* border: 1px solid black;     */
    margin-top: 0.5em;
}

@media (max-width: 430px) { 

    .transfusionbody{
        width: auto;
        height: auto;
    }

    .transfusionContainer{
        margin-bottom: 1em;
        flex-direction: column;
        font-family: 'Source Sans Pro', sans-serif;
        justify-content: center;
        align-items: center;
    }

    #progressbar{
        transform: rotate(90deg);
        margin-top: 0em;
        padding-top: 7em;
    }

    #transfusionHeader{
        margin-top: 1em;
    }

    .startandbar{
        flex-direction: row;
        min-height: 10em;
    }
    

}